/* COLORS */
$color-100: #000000; // pure black
$color-200: #1a1a1a; // carbon
$color-300: #302f2f; // iron
$color-400: #8e8c87; // concrete
$color-500: #bfbcb7; // clay
$color-600: #e7e4de; // marble
$color-700: #efece6; // sand
$color-800: #ffffff; // pure white

$color-accent: #ed5145; // fire opal
$color-red: #ba3d2c; // terracotta
$color-green: #5fb477; // grass
$color-green-dark: #14291a; // grass
$color-yellow: #ebdb78; // sun

/* FONTS */
$font-primary: "Inter";
$font-secondary: ibm-plex-sans, sans-serif;

/* FONT SIZE */
$font-size-000: clamp(10px, 1vw, 10px); // disclosure
$font-size-100: clamp(12px, 2vw, 12px); // tertiary
$font-size-150: clamp(16px, 1vw, 18px); // links
$font-size-200: clamp(16px, 2vw, 20px); // body
$font-size-300: clamp(24px, 4vw, 32px); // subheader
$font-size-400: clamp(40px, 5vw, 56px); // secondary
$font-size-500: clamp(48px, 7vw, 90px); // primary
$font-size-600: clamp(64px, 8vw, 120px); // hero
$font-size-1000: clamp(140px, 10vw, 180px); // hero

/* FONT WEIGHT */
$font-weight-100: 300;
$font-weight-200: 400;
$font-weight-300: 500;

/* PADDING */
$padding-50: 4px;
$padding-100: 8px;
$padding-200: 12px;
$padding-300: 16px;
$padding-400: 20px;
$padding-500: 24px;
$padding-600: 32px;
$padding-700: 40px;
$padding-750: 56px;
$padding-800: 64px;
$padding-900: 80px;
$padding-1000: 124px;

/* BORDERS */
$border-radius-100: 3px;
$border-radius-150: 6px;
$border-radius-200: 8px;
$border-radius-300: 16px;
$border-radius-400: 24px;

/* ANIMATIONS */
$animation-duration: 0.4s;
$animation-duration-short: 0.2s;
$animation-duration-medium: 0.6s;
$animation-duration-long: 1s;
$animation-delay: 1.25s;
$animation-easing: cubic-bezier(0.33, 1, 0.68, 1);
